<!-- templates/stats.html.twig -->
<!DOCTYPE html>
<html>
  <head>
    <title>Exemple de charte à secteurs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <canvas id="chart" ></canvas>
    <script>
      const labels = {{ labels|json_encode|raw }};
      const data = {{ data|json_encode|raw }};
      const chart = new Chart(document.getElementById("chart"), {
        type: "pie",
        data: {
          labels: labels,
          datasets: [
            {
              label: "Pourcentage des types de véhicules",
              data: data,
              backgroundColor: ["#ff6384", "#36a2eb", "#ffce56"],
            },
          ],
        },
        
      });
    </script>
    <a href="{{ path('index') }}">Retour à l'accueil</a>
  </body>
</html>
