{% extends 'baseback.html.twig' %}
{% block body %}
<div class='d-none'>
  <div class="page-body">
          <div class="container-fluid">
            <div class="page-header">
            
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
                {{ form_start(form,{'attr':{'novalidate':'novalidate'}})}}

                    {{ form_widget(form) }}
                    <button class="btn">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
          </div>
          <!-- Container-fluid Ends-->
    </div>
    </div>
        
{% endblock %} 
