{% block subject %} You have a new comment {% endblock %}
{% block body %}
<p>Dear {{ conducteur.getNomConducteur}},</p>
<p>You have a new comment from Balkis Hmidi on AutoXpress ,</p>
<p>{{comment.getContenu}}</p>
<p>Sincerely,</p>
<p>The Innovators Team</p>
<p>AutoXpress</p>

{% endblock %}